

table,th,td{
    border-collapse: collapse;
}

table{
    max-width: 1440px;
    width: 100%;
}

.modal-btn{
    text-decoration: none;
    color: white;
  
}

.modal-btn::after{
    content: "\02C5";
    /* content: ">"; */
    font-weight: 600;
    margin-left: 10px;
    display: inline-flex;
    transform: translateY(3px);
}

#btn-diamond{
    background-color: blue;
}

#btn-platinum{
    background-color: red;
}

.modal-container{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 760px;
    top:35px;
    left: 680px;
    overflow: auto;
    /* border: solid 2px red; */
}

.modal-content{
    margin: auto;
    padding: 0 30px 30px;
    background: rgba(254,254,254,.9);
    border-radius: 5%;
}


.modal-content img{
    max-width: 1440px;
    width: 100%;
}

/* styling on X span */
.xCSS{
    cursor: pointer;
}

/* CSS for arrow:after after open class is created */
.modal-btn.open::after{
    transform: rotate(180deg);
    transition: all 500ms ease ;
}